*{

 margin: 0;

 padding: 0;

}

body{

box-sizing: border-box;

 margin: 0;

 padding: 0;

 overflow-x: hidden;


 }


#container-1 {

 width: 1500px;

 height: 100px;

 background-color: #000;

 }

.informacao{

font-family: arial;

color:#fff;

font-size: 1rem;

padding:59px 15px 15px 15px;

margin-left:8%;

}


 .marcador-1{

  display: flex;

  width:50px ;

  height: 15px;

  display:flex;

  margin-left:86%;

  margin-top:3% ;

  position: absolute;

  background-color: #fff;

  border-radius: 10px 10px 10px 10px;

 }

 .marcador-2{

  display: flex;

  width:50px ;

  height: 15px;

  display:flex;

  margin-left:90%;

  margin-top:1.7% ;

  position: absolute;

  background-color: #fff;

  border-radius: 10px 10px 10px 10px;

 }

.marcador-3{

  display: flex;

  width:50px ;

  height: 15px;

  display:flex;

  margin-left:82%;

  margin-top:1.7% ;

  position: absolute;

  background-color:#FFA500;

  border-radius: 10px 10px 10px 10px;

 }


.ihm{


  margin-top:1%;

  width: 1500px;

  height:480px;}



.navbar{

  display: flex;

  margin-top:4%;

  margin-left:28%;

  align-items: center;

  justify-content:space-evenly;

  max-width: 1200px;

  min-width: 314px;

  padding: 1.4rem 5rem;





}


a{

  font-family: heveltica;

  font-size:1.6rem;

  font-weight: bold;

  color: #FFA500;

  justify:spacing-between;

  right:0;

  left:0;

  text-decoration: none;

  
}



.seletor{

 display: flex;

 width:55px ;

 height:5px;

 background-color: #FFA500;

 margin-top:-2%;

 top:0;

 margin-left:40%;

 border-radius: 5px 5px 5px 5px;

}


.logo{

  margin-top: -4% ;

  margin-left:2%;}




.area-cursos{

 margin-left:30%;

 margin-top:4%;

 font-family: tahoma;

 font-size: 1.6rem;

 font-weight: bold;

  color: #000;

}


section.slider{

margin:0;

width:100%;

padding: 0 !important;

}


 .slider-content input{

  display: none;

   }



.slider-content{

  width:80px;

  height:80px;

  
    }


    
.slider-box{

 width:100%;

 height:auto;

 position: relative;

 text-align: center;

 }


.slider-box img{

  width:286px;

  display: flex;

  margin-left:60px;

  border-radius:48px 48px 48px 48px;

  filter: drop-shadow(5px 5px 5px #A9A9A9);

    }

   
.box{

width: 1200px;

height:431px;

margin-left:-30%;

display: flex;

padding:50px 0px 0px 0px;

overflow: hidden;


}

#container{

 width: 1397px;

 height: 440px;

 background-color: #2f8fff;

}

 

input{

  width:680px;

  height:50px;

  border-radius: 10px 10px 10px 10px;

  margin-top:3%;

  margin-left:22%;


}


h3{

margin-left:30%;

margin-top:8%;

width: 700px;

height: 80px;

font-family:heveltica;

font-size: 2rem;

color:#fff;

}


p{

  margin-left: 30%;

  margin-top:2%;

  font-family: heveltica;

  font-size:1.4rem;

  color: #fff;

}

.spam{

  width: 700px;

  height:20px;

  margin-top:2%;

  margin-left:43%;

  font-family: heveltica;

  font-size:1rem;
}


input.botao, text-decoration{

width:280px;

height:40px;

background-color: #ff9709;

border-radius: 14px 14px 14px 14px;

margin-left:34%;

margin-top:2%;

color:#fff;

font-family: tahoma;

font-size:1.3rem;

font-weight: bold;


}


.novidades{

  margin-left:-8%;

  
}


.cadastre-se{

  margin-left:-7%;

  margin-top:4%;


}


.caixa-de-email{

 margin-left:-22%;


}

.anti-spam{

margin-left:-9%;

}


p{

   margin-top:-3%;}


.imagem-1{

  margin-left: 20%;

  padding: 4px 10px 0 0;

  width: 580px;

  height: 386px;

  


}

.titulo-1{

 margin-top:-20%;

 width:390px;

 margin-left:2%;



 
}

.color{

 font-family: heveltica;

 font-size:1.4rem;

 color:#fff;

 font-weight: bold;

 margin-top:7%;

 margin-left:2%;

}



.img-maior{

 width:580px;

 width: 380px;


}

.titulo-1 p{

  font-family: heveltica;

  font-size:1.0rem;

  margin-left:2% ;

  margin-top:-0%;}

  
.imagem-1{

   margin-top:16%;

  }



.lateral-do-blog{

  width: 400px;

  margin-left:53%;

  margin-top:-38%;

  width:587px;

  height: 480;


}

.t-2{

 margin-left:40%;

 margin-top: -26%;

 font-size: 1.3rem;


}


.titulo-2 p{

 margin-top: 1%;

 margin-left:40%;

 color:#000;

 font-family: heveltica;

 font-size: 1.0rem;


}

 


.t-3{

  margin-left: 40%;

 margin-top: -26%;

 font-size: 1.3rem;

}

.imagem-p{

  margin-top: 10%;


}


.area-total{

   width: 1287px;

   height:580px ;

   

}

.sub-area-total{

  width:1284px ;

  height: 598px ;

  margin-left:1% ;

  margin-top: -14%;


}

footer{

width: 1500px;
height:50px ;

background-color: rgba(0,0,0);


}

@media (max-width: 768px) {

    .navbar {

    flex-direction: column;

    padding: 30px;

    justify-content: center;

    align-items: center;

    height: 80px;

    margin-left:78%;

    margin-top: 7%;

    }


    .navbar a{

    font-size: 2rem;


    }

  .seletor{

  display: none;


  }
  
.marcador-1{

  display: none;
}


.marcador-2{

  display: none;
}


.marcador-3{

  display: none;
}

.logo{

margin-top: -45%;


}

.container{

 margin-left: 20%;


}

}